body{
    background-color: rgba(29, 29, 37, 100%);
}


header {
    margin-left: 600px;
    margin-top: 100px;
    margin-bottom: 10px;
}

#fechar{
    background-color: red;
    color: white;
    
}

   



h1{
    margin-left: 630px;
    margin-top: 100px;
    color: #FFFDFD;
    font-size: 48px;
    
}

.lista{
    
    margin-left: 500px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 5px;
}


.lista input{
    padding: 10px;
    height: 25px;
    width: 348px;
    font-size: 28px;
    
}

 


button{
width: 183px;
height: 47px;
color: #625F5F;
font-size: 28px;
font-family: Inter;
cursor: pointer;

}


 ul li {
    color: #faf8f8;
    font-size: 30px;
    font-family: Inter;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    
}

.completed {
    text-decoration: line-through;
    color: gray;
    cursor: pointer;
}

ul li button{
    width: 100px;
    height: 30px;
    margin-left: 275px;
    background-color: red;
    color: rgb(248, 247, 247);
    cursor: pointer;
    font-size: 20px;

    
}

#desfazer {
    color: #FFFDFD;
    font-size: 28px;
    font-family: Inter;
    text-decoration: none;
    margin-left: 500px;
    text-decoration: line-through;
}

#desfazer button {
    background-color: rgb(243, 6, 6);
    width: 127px;
    margin-top: 5px;
}